/Aluno.class
/AlunoController.class
/AlunoDoutorado.class
/AlunoIniciacao.class
/AlunoMestrado.class
/AlunoTCC.class
/Artigo.class
/AtividadeController.class
/Atividades.class
/Conexao.class
/Crud.class
/Disciplina.class
/DisciplinaController.class
/Main$1.class
/Main$2.class
/Main$3.class
/Main$4.class
/Main$5.class
/Main$6.class
/Main$7.class
/Main$8.class
/Main$9.class
/Main.class
/Professor.class
/artigoController.class
/Main$10.class
/Main$11.class
/Main$12.class
/Main$7$1.class
/Main$7$2.class
/Main$7$1$1.class
/Main$5$1$1.class
/Main$5$1.class
/Main$5$2.class
/Main$13.class
/Main$8$1$1.class
/Main$8$1.class
/Main$10$1$1.class
/Main$10$1.class
/Main$14.class
/Main$15.class
/Main$9$1$1.class
/Main$9$1.class
/Main$9$2.class
/Main$10$2$1.class
/Main$10$2.class
/ArtigoController.class
/Main$16.class
